.academy {
  padding: 0 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.academy__item {
  padding: 30px 0;
  font-family: $custome-font;
  font-size: 16px;
  line-height: 16px;
  color: $color-text-light-grey;

  &:hover {
    color: $color-text-light-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.academy__logo {
  padding: 22px 0;
  width: 27px;
  height: 34px;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .academy {
    margin: 0;
    padding: 0;
  }

  .academy__item {
    margin: 0;
    padding: 0;
    padding-right: 23px;
    padding-top: 6px;
  }

  .academy__logo {
    margin: 0;
    padding: 0;
  }
}
