.cooperation {
  background-color: $color-white;
}

.cooperation--catalog {
  background-color: $color-light-grey;
}

.cooperation__info {
  padding: 0 20px;
  margin: 0;
  display: flex;
}

.cooperation__invite {
  padding: 0;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 26px;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-dark-grey;
  text-transform: uppercase;
}

.cooperation__adress {
  padding: 0;
  margin: 0;
  padding-left: 18px;
  padding-top: 29px;
  text-align: left;
  font-family: $custome-font;
  font-size: 14px;
  line-height: 20px;
  color: $color-text-light-grey;
}

.cooperation__map {
  background-color: $color-white;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 362px;
  border: 0;
}

.cooperation__map--iframe {
  border: 0;
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .cooperation__info {
    padding: 0 70px;
  }

  .cooperation__invite {
    padding-top: 69px;
    padding-bottom: 62px;
    font-size: 20px;
    line-height: 25px;
  }

  .cooperation__adress {
    padding-left: 260px;
    padding-top: 66px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    position: relative;
  }

  .cooperation__info {
    position: absolute;
    top: 20%;
    left: 20%;
  }
}
