.cooperation {
  position: relative;
  background-color: $color-white;
}

.cooperation--catalog {
  background-color: $color-light-grey;
}

.cooperation__info {
  display: flex;
}

.cooperation__invite {
  padding: 0;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 26px;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-dark-grey;
  text-transform: uppercase;
}

.cooperation__adress {
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  width: 160px;
  padding-left: 18px;
  padding-top: 28px;
  text-align: left;
  font-family: $custome-font;
  font-size: 14px;
  line-height: 20px;
  color: $color-text-light-grey;
}

.cooperation__adress-street,
.cooperation__adress-city {
  margin: 0;
}

.cooperation__map {
  background-color: $color-white;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 362px;
  border: 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 362px auto;
  }

  &::after {
    content: "";
    position: absolute;
    top: 261px;
    left: 136px;
    background-color: transparent;
    background-image: url("../img/map-pin-mobile.png");
    background-position: top;
    background-repeat: no-repeat;
    width: 55px;
    height: 53px;
  }
}

.cooperation__map-iframe {
  position: relative;
  z-index: 1;
  border: 0;
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .cooperation__info {
    padding: 0 72px;
  }

  .cooperation__invite {
    padding-top: 65px;
    padding-bottom: 57px;
    padding-right: 240px;
    font-size: 20px;
    line-height: 25px;
  }

  .cooperation__adress {
    padding: 0;
    padding-top: 63px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .cooperation__adress-street {
    padding-bottom: 20px;
  }

  .cooperation__map {
    background-color: $color-white;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    border: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: auto 400px;
    }

    &::after {
      top: 331px;
      left: 325px;
      background-image: url("../img/map-pin.png");
      width: 113px;
      height: 106px;
    }
  }

  .cooperation__map-iframe {
    border: 0;
    width: 100%;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    position: relative;
  }

  .cooperation__info {
    padding: 0;
    width: 570px;
    height: 201px;
    position: absolute;
    z-index: 2;
    top: 98px;
    left: 40px;
    background-color: $color-white;
    padding-top: 60px;
    padding-left: 76px;
    padding-bottom: 59px;
    padding-right: 84px;
  }

  .cooperation__invite {
    padding: 0;
    padding-right: 20px;
    padding-top: 3px;
  }

  .cooperation__adress {
    padding: 0;
    text-align: left;
  }

  .cooperation__map {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: auto 400px;
    }

    &::after {
      top: 150px;
      left: 937px;
    }
  }
}
