.form__info-main {
  padding: 0 20px;
  padding-top: 30px;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  color: $color-text-dark-grey;
  font-weight: normal;
}

.form__info-text {
  padding: 0 20px;
  padding-top: 35px;
  padding-right: 74px;
  padding-bottom: 39px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $color-text-dark-grey;
  text-transform: uppercase;
}


.form__row {
  padding: 0;
  padding-bottom: 14px;
  margin: 0;
  display: flex;
  align-items: center;
}

.form__label {
  padding: 0;
  padding-right: 16px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: $color-text-medium-grey;
  text-transform: uppercase;
}

.form__section--target {
  border: solid 1px #ededed;
}

.form__label--target {
  margin: 13px 0;
  margin-left: 19px;
  margin-right: 19px;
  padding: 0;
  padding-left: 46px;
  display: block;
  position: relative;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.form__label--child-first {
  margin-top: 29px;
}


.form__label--child-last {
  margin-bottom: 25px;
}

.form__label--target .form__radio + .form__radio-indicator {
  position: absolute;
  top: -25%;
  left: 0%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: solid 1px #cdcdcd;
  border-radius: 20px;

  &:hover {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__label--target .form__radio:checked + .form__radio-indicator {
  content: "";
  position: absolute;
  top: -25%;
  left: 0%;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 20px;

  &::after {
    position: absolute;
    top: 29%;
    left: 29%;
    content: "";
    width: 12px;
    height: 12px;
    background-color: $color-green;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
  }

  &:hover {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__input {
  width: 100%;
  padding: 15px 0;
  padding-left: 16px;
  padding-right: 5px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: $color-text-light-grey;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;

  @include placeholder {
    color: $color-text-light-grey;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 2px solid $color-text-light-grey;
  }
}

.form__section {
  padding: 0 20px;
  margin: 0;
}

.form__main {
  padding: 0;
  padding-top: 31px;
  padding-right: 80px;
  padding-bottom: 30px;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: $color-text-dark-grey;
  font-weight: normal;
}

.form__section--contact {
  padding: 0 20px;
  margin: 0;
  position: relative;

  &::after {
    position: absolute;
    top: 26%;
    right: 0%;
    content: "";
    width: 99px;
    height: 3px;
    background-color: $color-green;
  }
}

.form__contact-item {
  padding: 0;
  padding-bottom: 14px;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.form__input--contact-list {
  padding-right: 40px;
  margin: 0;
}

.form__button {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25%;
  left: 88%;
  background-color: transparent;
  fill: $color-text-medium-grey;
  border: 0;
}

.form__section--comment {
  margin: 0;
  padding: 0 20px;
}

.form__main--comment {
  margin: 0;
  padding: 31px 0;
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: -7%;
    content: "";
    width: 158px;
    height: 3px;
    background-color: $color-green;
  }
}

.form__comment--input {
  min-width: 280px;
  min-height: 150px;
  padding: 10px 13px;
  padding-top: 15px;
  font-size: 16px;
  line-height: 18px;
  color: $color-text-light-grey;
  text-transform: uppercase;

  @include placeholder {
    color: $color-text-light-grey;
    text-align: center;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 2px solid $color-text-light-grey;
  }
}

.form__section--optional {
  margin: 0;
  padding: 0 20px;
}

.form__main--optional {
  margin: 0;
  padding: 31px 0;
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: -7%;
    content: "";
    width: 136px;
    height: 3px;
    background-color: $color-green;
  }
}

.form__label--checkbox {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 46px;
  padding-bottom: 27px;
  position: relative;
}

.form__label--checkbox .form__checkbox + .form__checkbox-indicator {
  position: absolute;
  top: -12%;
  left: 0%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: solid 1px #cdcdcd;

  &:hover {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__label--checkbox .form__checkbox:checked + .form__checkbox-indicator {
  content: "";
  position: absolute;
  top: -12%;
  left: 0%;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;

  &::after {
    position: absolute;
    top: 15%;
    left: 16%;
    content: "";
    width: 22px;
    height: 17px;
    background-image: url("../img/icon-tick.svg");
    fill: $color-green;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  &:hover {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__section-wrapper {
  margin: 0;
  padding: 0 20px;
  padding-top: 43px;
  text-align: center;
}

.form__send-order {
  display: block;
  width: 280px;
  height: 40px;
  padding-top: 11px;
  font-size: 14px;
  line-height: 18px;
  color: $color-white;
  background-color: $color-green;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    opacity: 0.3;
    background-color: #5eaa2f;
  }
}

.form__text {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 34px;
  text-align: center;
  font-family: $custome-font;
  font-size: 14px;
  line-height: 16px;
  color: $color-text-light-grey;
}

@media (min-width: $tablet-width) {
  .form__section--target {
    display: block;
  }

  .form__section--optional-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form__label--checkbox {
    width: 300px;
  }

  .form__section-wrapper {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: flex;
  }

  .form__section--contact-list {
    display: flex;
  }
}
