.gift {
  padding: 0;
  margin: 0;
  margin-top: 39px;
  margin-bottom: 34px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  font-family: $custome-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
}

.gift__text {
  position: relative;
  padding: 0 50px;
  padding-top: 187px;
  padding-bottom: 42px;
  margin: 0;
  text-align: center;

  &::after {
    position: absolute;
    top: 22%;
    left: 39%;
    width: 56px;
    height: 61px;
    content: "";
    background-image: url("../img/icon-gift.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .gift {
    padding: 0;
    margin: 0;
    margin-top: 69px;
    margin-bottom: 76px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;
  }

  .gift__text {
    padding: 75px 120px 69px 424px;
    margin: 0;
    text-align: left;

    &::after {
      top: 35%;
      left: 18%;
    }
  }
}
