.gift {
  padding: 0;
  margin: 0;
  margin-top: 39px;
  margin-bottom: 34px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  font-family: $custome-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 289px auto;
  }
}

.gift__text {
  position: relative;
  padding: 0 50px;
  padding-top: 187px;
  padding-bottom: 42px;
  margin: 0;
  text-align: center;

  &::after {
    position: absolute;
    top: 65px;
    left: 112px;
    width: 56px;
    height: 61px;
    content: "";
    background-image: url("../img/icon-gift.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .gift {
    padding: 0;
    margin: 0;
    margin-top: 69px;
    margin-bottom: 77px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 200px auto;
    }
  }

  .gift__text {
    padding: 73px 120px 69px 424px;
    margin: 0;
    text-align: left;

    &::after {
      top: 32%;
      left: 13%;
    }
  }
}

@media (min-width: $desktop-width) {
  .gift {
    padding: 0;
    margin: 0;
    margin-left: 80px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
    height: 289px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 289px auto;
    }
  }

  .gift__text {
    padding: 187px 35px 10px 35px;
    margin: 0;
    text-align: center;

    &::after {
      top: 25%;
      left: 39%;
    }
  }
}
