.page-header {
  width: 320px;
  background: $color-white;

  &__logo
    padding-top: 11px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 65px;
    border-bottom: 1px solid #111111;
}
