.how-work__main {
  font-size: 36px;
  line-height: 60px;
  color: $color-text-dark-grey;
}

.how-work__list {
  list-style: none;
}

.how-work__text {
  font-family: $custome-font;
  font-size: 14px;
  line-height: 18px;
  color: $color-text-light-grey;
}
