.how-work__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.how-work__main {
  padding: 0;
  padding-top: 32px;
  padding-left: 22px;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  color: $color-text-dark-grey;
  font-weight: normal;
}

.how-work__item {
  position: relative;
  padding: 0;
  margin: 0;
}

.how-work__text {
  padding: 0;
  padding-top: 41px;
  padding-left: 100px;
  padding-right: 26px;
  margin: 0;
  font-family: $custome-font;
  font-size: 14px;
  line-height: 18px;
  color: $color-text-light-grey;
}

.how-work__item--page {
  content: "";
  position: absolute;
  top: 42%;
  left: 7%;
  width: 60px;
  height: 60px;
  background-color: $color-green;
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.how-work__item--flour {
  content: "";
  position: absolute;
  top: 42%;
  left: 7%;
  width: 60px;
  height: 60px;
  background-color: $color-green;
  background-image: url("../img/advantage-powder@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.how-work__item--change {
  content: "";
  position: absolute;
  top: 42%;
  left: 7%;
  width: 60px;
  height: 60px;
  background-color: $color-green;
  background-image: url("../img/advantage-dining@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.how-work__item--month {
  content: "";
  position: absolute;
  top: 42%;
  left: 7%;
  width: 60px;
  height: 60px;
  background-color: $color-green;
  background-image: url("../img/advantage-clock@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .how-work__list {
    display: flex;
    flex-wrap: wrap;
  }

  .how-work__item {
    width: 300px;
  }
}

/*@media (min-width: $desktop-width) {


}*/
