.intro {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 305px auto;
  }
}

.intro__main {
  padding: 0;
  padding-top: 28px;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: $color-white;
}

.intro__text {
  padding: 0;
  margin: 0;
  padding-top: 25px;
  font-size: 14px;
  line-height: 14px;
  color: $color-white;
  text-transform: uppercase;
}

.intro__image {
  margin-top: 29px;
}

.intro__form {
  display: block;
  width: 280px;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  color: $color-white;
  background-color: $color-green;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    padding: 0;
    background-image: none;
    text-align: left;
  }

  .intro__wrapper {
    position: relative;
  }

  .intro__main,
  .intro__text {
    color: $color-text-dark-grey;
  }

  .intro__main {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    padding-top: 51px;
    padding-left: 88px;
    padding-right: 200px;
  }

  .intro__text {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    padding-top: 42px;
    padding-left: 88px;
    padding-right: 200px;
  }

  .intro__image {
    width: 709px;
    height: 609px;
    margin-top: 20px;
  }

  .intro__form {
    position: absolute;
    top: 281px;
    left: 117px;
    width: 245px;
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    position: relative;
    padding: 0;

    &::after {
      width: 100%;
      height: 696px;
      content: "";
      position: absolute;
      z-index: 1;
      top: -27%;
      right: 0%;
      background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 50%, #63a73a 50%);
      background-size: 720px 696px, 100%;
      background-position: calc(50% + 360px) top, center center;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, #ffffff 50%, #63a73a 50%);;
        background-size: 720px 696px, 100%;
        background-position: calc(50% + 360px) top, center center;
        background-repeat: no-repeat;
      }
    }
  }

  .intro__wrapper {
    padding: 0 120px;
    padding-right: 610px;
  }

  .intro__main,
  .intro__text,
  .intro__form {
    position: relative;
    z-index: 2;
  }

  .intro__main {
    padding: 0;
    padding-top: 113px;
  }

  .intro__text {
    padding: 0;
    padding-top: 42px;
    padding-bottom: 53px;
    text-align: left;
  }

  .intro__image {
    margin: 0;
    content: "";
    z-index: 3;
    position: absolute;
    top: 9%;
    right: 16%;
    width: 552px;
    height: 499px;
  }

  .intro__form {
    padding-top: 16px;
    margin-bottom: 267px;
    top: 0;
    left: -1px;
  }
}
