.intro {
  padding: 0 20px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
}

.intro__main {
  padding: 0;
  padding-top: 28px;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: $color-white;
}

.intro__text {
  padding: 0;
  margin: 0;
  padding-top: 25px;
  font-size: 14px;
  line-height: 14px;
  color: $color-white;
  text-transform: uppercase;
}

.intro__image {
  margin-top: 29px;
}

.intro__form {
  display: block;
  width: 280px;
  height: 40px;
  padding: 11px;
  font-size: 14px;
  line-height: 18px;
  color: $color-white;
  background-color: $color-green;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    opacity: 0.3;
    background-color: #5eaa2f;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    padding: 0 30px;
    background-image: none;
    text-align: left;
    position: relative;
  }

  .intro__main,
  .intro__text {
    color: $color-text-dark-grey;
  }

  .intro__main {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    padding-top: 64px;
    padding-left: 88px;
    padding-right: 200px;
  }

  .intro__text {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    padding-top: 42px;
    padding-left: 88px;
    padding-right: 200px;
  }

  .intro__image {
    width: 709px;
    height: 609px;
    margin-top: 20px;
  }

  .intro__form {
    position: absolute;
    top: 34%;
    left: 15%;
    width: 245px;
    height: 52px;
    padding: 12px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding: 0 150px;
    position: relative;

    &::after {
      width: 720px;
      height: 696px;
      content: "";
      position: absolute;
      z-index: 1;
      top: -58%;
      right: 0%;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .intro__main,
  .intro__text,
  .intro__form {
    position: relative;
    z-index: 2;
  }

  .intro__main {
    padding: 0;
    padding-top: 113px;
    padding-right: 435px;
  }

  .intro__text {
    padding: 0;
    padding-top: 33px;
    padding-bottom: 53px;
    text-align: left;
  }

  .intro__image {
    margin: 0;
    content: "";
    z-index: 3;
    position: absolute;
    top: 9%;
    right: 17%;
    width: 552px;
    height: 499px;
  }

  .intro__form {
    margin-bottom: 200px;
    top: 0%;
    left: 0%;
  }
}
