.optional {
  padding: 0;
  margin: 0;
  list-style: none;
}

.optional__item {
  border-bottom: 1px solid #cdcdcd;
}

.optional__main {
  padding: 0;
  padding-top: 14px;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: $color-text-medium-grey;
  text-transform: uppercase;
  font-weight: normal;
}

.optional__table {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 13px;
  margin: 0;
  width: 100%;
  font-family: $custome-font;
  font-size: 14px;
  line-height: 14px;
  color: $color-text-light-grey;
}

.optional__table-size {
  padding: 0;
  text-align: left;
}

.optional__table-price {
  padding: 0;
  text-align: right;
}

.optional__order {
  display: block;
  margin-bottom: 17px;
  padding: 0 10px;
  padding-top: 11px;
  width: 280px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  background-color: $color-green;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    opacity: 0.3;
    background-color: #5eaa2f;
  }
}

@media (min-width: $tablet-width) {
  .optional__item {
    border: 0.5px solid #cdcdcd;
    padding: 28px 37px 28px 37px;
  }

  .optional__conteiner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
  }

  .optional__main {
    padding: 0;
    padding-right: 246px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;;
  }

  .optional__table {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }

  .optional__order {
    margin: 0;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .products-optional__wrapper {
    display: flex;
  }
}
