.optional {
  padding: 0;
  margin: 0;
  list-style: none;
}

.optional__item {
  border-bottom: 1px solid #cdcdcd;
}

.optional__main {
  padding: 0;
  padding-top: 14px;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: $color-text-medium-grey;
  text-transform: uppercase;
  font-weight: normal;
}

.optional__table {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 14px;
  margin: 0;
  width: 100%;
  font-family: $custome-font;
  font-size: 14px;
  line-height: 14px;
  color: $color-text-light-grey;
}

.optional__table-price {
  text-align: right;
}

.optional__order {
  display: block;
  margin-bottom: 17px;
  padding: 0 10px;
  padding-top: 11px;
  width: 280px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  background-color: $color-green;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    opacity: 0.3;
    background-color: #5eaa2f;
  }
}

@media (min-width: $tablet-width) {
  .optional__item {
    display: flex;
    flex-wrap: wrap;
  }

  .optional__main {
    width: 360px;
  }

  .optional__table {
    width: 360px;
  }
}

@media (min-width: $desktop-width) {
  .products-optional__wrapper {
    display: flex;
  }
}
