.page-footer {
  background-color: $color-light-grey;
}

.page-footer__logo {
  display: block;
  margin: 0 96px;
  margin-bottom: 31px;
  margin-top: 39px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
