.page-header {
  padding: 0;
  margin: 0;
}

.page-header__wrapper {
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-header__logo {
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 14px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 87%;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 45%;
    left: -15%;
    width: 24px;
    height: 2px;
    background-color: $color-black;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  .page-header__wrapper {
    border: none;
  }

  .page-header__logo {
    padding: 0;
    padding-top: 24px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0 109px;
    padding-right: 17px;
  }
}
