.page-footer {
  background-color: $color-light-grey;
}

.page-footer__logo {
  display: block;
  padding: 0 76px;
  padding-bottom: 29px;
  padding-top: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.copyright__item--vk,
.copyright__item--instagram,
.copyright__item--facebook,
.academy__logo {
  fill: #666666;

  &:hover {
    fill: $color-green;
  }

  &:active {
    opacity: 0.3;
    fill: $color-green;
  }
}

.page-footer__logo--name {
  width: 128px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin: 0;
    padding: 0;
  }

  .page-footer__wrapper {
    padding: 0 30px;
    padding-top: 4px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__copyright {
    width: 116px;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
    padding-bottom: 59px;
    padding-top: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    padding-top: 3px;
    padding-right: 33px;
  }

  .page-footer__copyright {
    width: auto;
  }
}
