.page-footer {
  background-color: $color-light-grey;
}

.page-footer__logo {
  display: block;
  padding: 0 96px;
  padding-bottom: 31px;
  padding-top: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin: 0;
    padding: 0;
  }

  .page-footer__wrapper {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__copyright {
    width: 116px;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
    padding-bottom: 59px;
    padding-top: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 39px;
    padding-top: 6px;
  }
}
