.products {
  margin: 0;
  padding: 0;
}

.products__main {
  margin: 0;
  padding: 0 20px;
  padding-top: 16px;
  padding-bottom: 27px;
  font-size: 36px;
  line-height: 60px;
  color: $color-text-dark-grey;
  font-weight: normal;
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-optional__main {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cdcdcd;

  &::after {
    position: absolute;
    top: 52%;
    right: -7%;
    content: "";
    width: 53px;
    height: 3px;
    background-color: $color-green;
  }
}

@media (min-width: $tablet-width) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
  }

  .products__list-item {
    width: 340px;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
  }

  .products__list-item {
    width: 250px;
    margin-right: 20px;
  }
}
