.products-optional {
  padding: 0;
  margin: 0;
}

.products-optional__main {
  font-size: 24px;
  line-height: 24px;
  color: $color-text-dark-grey;
  font-weight: normal;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 34px;
  border-bottom: 1px solid #cdcdcd;

  &::after {
    position: absolute;
    top: 48%;
    right: -7%;
    content: "";
    width: 53px;
    height: 3px;
    background-color: $color-green;
  }
}

.products-optional__wrapper {
  padding: 0 20px;
  margin: 0;
}


@media (min-width: $tablet-width) {
  .products-optional__wrapper {
    padding: 0 30px;
    margin: 0;
  }

  .products-optional__main {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    padding-left: 37px;
    padding-bottom: 79px;
    border: none;

    &::after {
      top: 19%;
      right: -4%;
      width: 325px;
      height: 3px;
    }

    &::before {
      position: absolute;
      top: 19%;
      left: -5%;
      content: "";
      width: 33px;
      height: 3px;
      background-color: $color-green;
    }
  }
}

@media (min-width: $desktop-width)  {
  .products-optional__wrapper {
    display: flex;
    padding: 0 2px;
    padding-bottom: 83px;
  }

  .products-optional__main {
    padding-top: 8px;
  }
}
