.product {
  padding: 0 19px 25px 19px;
  border: 1px solid #ededed;
}

.product__wrapper {
  display: flex;
}

.product__image {
  width: 206px;
  height: 144px;
  vertical-align: bottom;
}

.product__main {
  display: block;
  padding: 0;
  padding-top: 22px;
  padding-right: 66px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-dark-grey;
  text-transform: uppercase;
}

.product__description {
  font-family: $custome-font;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-light-grey;
  border-collapse: collapse;
  width: 100%;
  margin-top: 13px;
}

.product__name {
  padding: 0;
  text-align: left;
}

.product__size {
  padding: 0;
  text-align: right;
}

.product__order {
  display: block;
  height: 40px;
  text-align: center;
  padding-top: 11px;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  background-color: $color-green;
  text-transform: uppercase;
}
