.product {
  padding: 0 19px 23px 19px;
  border: 1px solid #ededed;
}

.product__wrapper {
  display: flex;
}

.product__image {
  width: 140px;
  height: 144px;
  vertical-align: bottom;
  flex-shrink: 0;
}

.product__main {
  display: block;
  padding: 0;
  padding-top: 22px;
  padding-right: 66px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-dark-grey;
  text-transform: uppercase;
}

.product__description {
  font-family: $custome-font;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-light-grey;
  border-collapse: collapse;
  width: 100%;
  margin-top: 13px;
}

.product__name {
  padding: 0;
  text-align: left;
}

.product__size {
  padding: 0;
  text-align: right;
}

.product__order {
  display: block;
  height: 40px;
  text-align: center;
  padding-top: 11px;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  background-color: $color-green;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .product {
    border: none;
    background-color: $color-light-grey;
    position: relative;
    text-align: center;
  }

  .product__wrapper {
    display: block;
  }

  .product__image {
    position: absolute;
    top: -22%;
    left: 29%;
    width: 195px;
    height: 208px;
    vertical-align: bottom;
  }

  .product__main {
    padding: 0 54px;
    padding-bottom: 19px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .product__description {
    margin: 0;
    font-family: $custome-font;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 35px;
  }

  .product__name,
  .product__size {
    margin-right: 14px;
    margin-left: 18px;
    padding-top: 8px;
    padding-bottom: 6px;
  }

  .product__description tr {
    border-bottom: 1px solid #cdcdcd;
  }
}
