.programs-list__item {
  background-color: $color-light-grey;
}

.programs-list__item--slim {
  margin-bottom: 23px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 8%;
    left: 8%;
    width: 50px;
    height: 51px;
    border-radius: 50px;
    background-color: $color-green;
  }

  &::before {
    content: "";
    position: absolute;
    top: 1%;
    left: 10%;
    width: 29%;
    height: 43%;
    z-index: 2;
    background-color: transparent;
    background-image: url("../img/icon-cat-slim.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.programs-list__item--pro {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 8%;
    left: 8%;
    width: 50px;
    height: 51px;
    border-radius: 50px;
    background-color: $color-green;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8%;
    left: 5%;
    width: 25%;
    height: 36%;
    z-index: 2;
    background-color: transparent;
    background-image: url("../img/icon-cat-pro.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.programs-list__main {
  padding: 0;
  margin: 0;
  padding-left: 91px;
  padding-top: 29px;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: $color-text-dark-grey;
  text-transform: uppercase;
}

.programs-list__text {
  margin: 0 20px;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: $custome-font;
  font-size: 14px;
  line-height: 18px;
  color: $color-text-light-grey;
}

.programs-list__adress {
  padding: 19px 20px;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: $color-text-dark-grey;
  text-transform: uppercase;
  display: block;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-position: 45% 48%;
  background-repeat: no-repeat;
  background-color: $color-light-grey;

  &:hover {
    color: $color-text-dark-grey;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    background-image: url("../img/icon-right-arrow-verylong.svg");
    color: rgba(17, 17, 17, 0.3);
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .programs-list__item {
    padding-top: 73px;
    padding-left: 54px;
    padding-bottom: 61px;
    padding-right: 280px;
  }

  .programs-list__main {
    padding: 0;
    padding-bottom: 26px;
    margin: 0;
    font-size: 36px;
    line-height: 37px;
    font-weight: normal;
  }

  .programs-list__text {
    padding: 0;
    padding-bottom: 55px;
    margin: 0;
    font-family: $custome-font;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .programs-list__item--slim {
    margin-bottom: 34px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 25%;
      left: 63%;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background-color: $color-green;
    }

    &::before {
      top: 23%;
      left: 67%;
      width: 40%;
      height: 75%;
    }
  }

  .programs-list__item--pro {
    padding-right: 310px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 25%;
      left: 63%;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background-color: $color-green;
    }

    &::before {
      top: 38%;
      left: 61%;
      width: 34%;
      height: 66%;
    }
  }

  .programs-list__adress {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 37% 48%;
    background-color: $color-light-grey;
  }
}

@media (min-width: $desktop-width) {
  .programs-list {
    display: flex;
    justify-content: space-between;
  }

  .programs-list__item {
    width: 570px;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 61px;
    padding-right: 56px;
  }

  .programs-list__item--slim {
    margin: 0;
    margin-right: 80px;

    &::after {
      top: 12%;
      left: 9%;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background-color: $color-green;
    }

    &::before {
      top: 9%;
      left: 12%;
      width: 25%;
      height: 43%;
    }
  }

  .programs-list__main {
    padding: 0;
    padding-left: 164px;
    padding-bottom: 74px;
    margin: 0;
  }

  .programs-list__text {
    padding: 0;
    padding-bottom: 31px;
    margin: 0;
  }

  .programs-list__item--pro {
    &::after {
      top: 12%;
      left: 9%;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background-color: $color-green;
    }

    &::before {
      top: 5%;
      left: 3%;
      width: 29%;
      height: 43%;
    }
  }

  .programs-list__adress {
    background-position: 30% 48%;
  }
}
