.programs-list__item {
  background-color: $color-light-grey;
}

.programs-list__item--slim {
  margin-bottom: 23px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 8%;
    left: 8%;
    width: 50px;
    height: 51px;
    border-radius: 50px;
    background-color: $color-green;
    background-image: url("../img/icon-cat-slim.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.programs-list__item--pro {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 8%;
    left: 8%;
    width: 50px;
    height: 51px;
    border-radius: 50px;
    background-color: $color-green;
    background-image: url("../img/icon-cat-pro.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.programs-list__main {
  padding: 0;
  margin: 0;
  padding-left: 91px;
  padding-top: 29px;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: $color-text-dark-grey;
  text-transform: uppercase;
}

.programs-list__text {
  margin: 0 20px;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: $custome-font;
  font-size: 14px;
  line-height: 18px;
  color: $color-text-light-grey;
}

.programs-list__adress {
  padding: 19px 20px;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: $color-text-dark-grey;
  text-transform: uppercase;
  display: block;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-position: 45% 48%;
  background-repeat: no-repeat;
  background-color: $color-light-grey;

  &:hover {
    color: $color-text-dark-grey;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    background-image: url("../img/icon-right-arrow-verylong.svg");
    color: rgba(17, 17, 17, 0.3);
    opacity: 0.3;
  }
}


/*@media (min-width: $tablet-width) {

}*/

@media (min-width: $desktop-width) {
  .programs-list {
    display: flex;
  }

  .programs-list__item--slim {
    margin: 0;
    margin-right: 20px;
  }
}
