.programs__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.programs__wrapper {
  padding-top: 23px;
}

@media (min-width: $tablet-width) {
  .programs__wrapper {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .programs__wrapper {
    padding: 0;
  }
}
