.site-list {
  list-style: none;
}

.site-list__item {
  text-align: center;
  border-bottom: 1px solid $color-text-light-grey;

    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    &--active {
      border-bottom: 1px solid $color-green;
    }
}

.site-list__href {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}
