.slider {
  padding-top: 305px;
  font-size: 16px;
  line-height: 18px;
  color: $color-text-dark-grey;
  background-color: $color-light-grey;
  background-image: url("../img/before-mobile@1x.png");
  background-position: 50% 26%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
    background-size: 317px auto;
  }
}

.slider__wrapper {
  display: flex;
  justify-content: center;
}

.slider__item {
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
  text-transform: uppercase;
  border: none;
  background-color: $color-light-grey;
  border-bottom: 1px dashed #bebebe;

  &:hover {
    border-bottom: 1px solid #989898;
  }

  &:active {
    border-bottom: transparent;
  }
}

.slider__item--before {
  margin-right: 19px;
}

.slider__item--after {
  margin-left: 19px;
}

.slider__toggles {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}

.slider__toggle {
  position: absolute;
  top: 29%;
  left: 7%;
  border: none;
  font-size: 0;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $color-green;
}


@media (min-width: $tablet-width) {
  .slider {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    background-image: none;
  }

  .slider__image {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    background-color: $color-white;
  }

  .slider__image--before {
    width: 50%;
    height: 550px;
    content: "";
    background-image: url("../img/before-tablet@1x.png"), linear-gradient(to bottom, $color-white 33%, $color-light-grey 33%);
    background-position: -15% 45%;
    background-repeat: no-repeat;
    overflow: hidden;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png"), linear-gradient(to bottom, $color-white 33%, $color-light-grey 33%);
      background-size: auto 100%;
      background-position: 0% 45%;
    }
  }

  .slider__image--after {
    width: 50%;
    height: 550px;
    content: "";
    background-image: url("../img/after-tablet@1x.png"), linear-gradient(to bottom, $color-white 33%, #eaeaea 33%);
    background-position: 111% 45%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@2x.png"), linear-gradient(to bottom, $color-white 33%, #eaeaea 33%);
      background-size: auto 100%;
      background-position: 106% 45%;
    }
  }

  .slider__wrapper {
    background: linear-gradient(to right, $color-light-grey 50%, #eaeaea 50%);
    justify-content: space-between;
    padding: 0 99px;
    padding-bottom: 69px;
  }

  .slider__item {
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
  }

  .slider__item--before {
    margin: 0;
  }

  .slider__item--after {
    background-color: #eaeaea;
  }

  .slider__toggles {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    width: 428px;
    height: 6px;
    border: none;
    border-radius: 2.5px;
    background-color: #dcdcdc;
  }

  .slider__toggle {
    position: absolute;
    top: -14px;
    left: 198px;
    font-size: 0;
    width: 34px;
    height: 34px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #cdcdcd;
    border-radius: 34px;
    background-color: $color-white;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: $color-green;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    padding: 0;
    width: 50%;
    background: linear-gradient(to bottom, $color-white 29%, $color-light-grey 6%);
  }

  .slider__image {
    display: flex;
    padding-top: 2px;
    background: none;
  }

  .slider__image--before {
    width: 53%;
    background-image: url("../img/before-desktop@1x.png"), linear-gradient(to bottom, $color-white 35%, $color-light-grey 33%);
    background-position: 10% 67%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@2x.png"), linear-gradient(to bottom, $color-white 35%, $color-light-grey 33%);
      background-size: 690px auto;
      background-position: 10% 45%;
    }
  }

  .slider__image--after {
    width: 47%;
    background-image: url("../img/after-desktop@1x.png"), linear-gradient(to bottom, $color-white 35%, #eaeaea 33%);
    background-position: 90% 71%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-desktop@2x.png"), linear-gradient(to bottom, $color-white 35%, #eaeaea 33%);
      background-size: 690px auto;
      background-position: 86% 45%;
    }
  }

  .slider__wrapper {
    padding: 0;
    padding-top: 28px;
    padding-bottom: 66px;
    padding-left: 40px;
    background: linear-gradient(to right, #f2f2f2 53%, #eaeaea 50%);
  }
}
