@mixin Oswald ($font-size, $line-height) {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin Oswald ($font-size, $line-height) {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}
