$oswaldregular: "oswaldregular", "Arial", sans-serif;
$oswaldmedium: "oswaldmedium", "Arial", sans-serif;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #68b738;
$color-light-grey: #f2f2f2;
$color-text-light-grey: #444444;
$color-text-dark-grey: #111111;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
